{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Favicon -->
        <link rel="icon" href="{% static 'images/store_performance.jpeg' %}" type="image/jpeg">

        <!-- ===== Google font icon ===== -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
        <!----===== Boxicons CSS ===== -->
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

        <!-- ======== CSS ======== -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar-professional.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        {% block style-content %}{% endblock style-content %}

                <!-- Block Content -->
                <div class="page-content">
                    {% block content %}{% endblock content %}
                </div>
                <!-- End of Block Content -->
            </div>
        </section>
        
        <!-- ======== JQuery ======== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- ====== Javascript ====== -->
        <script src="{% static 'javascript/base.js' %}"></script>
        <script src="{% static 'javascript/create-bill.js' %}"></script>
        <script src="{% static 'javascript/products.js' %}"></script>
        {% block script %}{% endblock script %}
    </body>
</html>