{% extends 'base.html' %}
{% load static %}

{% block style-content %}
    <link rel="stylesheet" href="{% static 'css/client-bills.css' %}">
{% endblock style-content %}

{% block title %}{{ client.full_name }}'s' bills | Store Performance{% endblock title %}

{% block content-title %}Bills for {{ client.full_name }}{% endblock content-title %}

{% block content %}
<!-- Client create-bill -->
<div class="content-area">
    <div>
        {% for bill in bills %}
        <div>
            <h2>Bill Date: {{ bill.date }}</h2>
            <p>Store Name: {{ bill.store_name }}</p>
            <p>Description: {{ bill.description }}</p>
            <p>Quantity: {{ bill.quantity }}</p>
            <p>Price: {{ bill.price }}</p>
            <p>Amount: {{ bill.amount }}</p>
            <p>Total Price: {{ bill.total_price }}</p>
        </div>
        {% empty %}
        <p>No bills found for this client.</p>
        {% endfor %}
    </div>
</div>
<!-- End Client create-bill -->
{% endblock content %}