{% extends 'base.html' %}
{% load static %}

{% block style-content %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock style-content %}

{% block title %}Dashboard | Store Performance{% endblock title %}

{% block content-title %}Dashboard{% endblock content-title %}

{% block content %}
<!-- Dashboard -->
<div class="dashboard-area">
    <div class="bar_chart">{{ bar_chart|safe }}</div>

    <div class="table_chart">{{ table_chart|safe }}</div>

    <div class="pie_chart">{{ pie_chart|safe }}</div>

    <div class="line_chart">{{ line_chart|safe }}</div>

    <div class="map_chart">{{ map_chart|safe }}</div>
</div>
<!-- End of Dashboard -->
{% endblock content %}