{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard | Store Performance{% endblock title %}

{% block head %}
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock head %}

{% block content %}
    <!-- Main Content -->
    <h1>Dashboard</h1>
    <!-- Dashboard -->
    <div class="content-area">
        <div class="container-fluid">
            <div class="main">
                <div class="row sparkboxes mt-4 mb-4">
                    <div class="col-md-4">
                        <div class="box box1">
                            <div id="spark1"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box2">
                            <div id="spark2"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box3">
                            <div id="spark3"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 mb-4">
                    <div class="col-md-6">
                        <div class="box">
                            <div id="bar"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div id="donut"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mb-4">
                    <div class="col-md-6">
                        <div class="box">
                            <div id="area"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div id="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="{% static 'javascript/apexcharts.js' %}"></script>
    <script src="{% static 'javascript/data.js' %}"></script>
    <script src="{% static 'javascript/scripts.js' %}"></script>

    <script></script>
    <!-- End of Dashboard -->

    <!-- End of Main Content -->
{% endblock content %}