* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 0.3s all ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

header {
    /* padding: 20px 0; */
    text-align: center;
    /* border-bottom: 1px solid #e0e0e0; */
}

header .alert {
    padding: 25px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

header .alert-success {
    font-size: 25px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

header .alert-warning {
    font-size: 25px;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

header .alert-error {
    font-size: 25px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.closebtn {
    margin-left: 15px;
    color: #aaaaaa;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #000;
}

.shadow-wrap {
    width: 35%;
    border-radius: 5px;
    padding: 25px;
    background-color: #F0F2FB;
}

.form-wrap {
    background-color: #fff;
    padding: 70px;
}

.form-wrap form * {
    display: block;
    width: 100%;
}

.form-wrap form label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.form-wrap form input {
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #DAE1F5;
    background: #FFF;
    color: #545D7A;
}

#id_username {
    margin-bottom: 20px;
}

.form-wrap button {
    border-radius: 5px;
    background: #10182F;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 12px 68px;
    font-weight: 700;
    border: 1px solid transparent;
    margin-top: 30px;
    line-height: 26px;
}

.signup-link {
    color: #10182F;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    display: block;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.form-wrap button:hover {
    background-color: #fff;
    color: #10182F;
    border-color: #10182F;
}