/* Container Styles */
.dashboard-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates a two-column layout */
    gap: 20px;
    padding: 30px;
}

/* Chart Styles */
.dashboard-area>div {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.dashboard-area>div:hover {
    transform: translateY(-5px);
}

/* Specific Chart Adjustments */
.dashboard-area .bar_chart {
    grid-column: 1 / span 1;
    grid-row: 1;
}

.dashboard-area .pie_chart {
    grid-column: 2 / span 1;
    grid-row: 1;
}

.dashboard-area .table_chart {
    grid-column: 1 / span 2;
    /* Spans across both columns */
    grid-row: 2;
}

.dashboard-area .line_chart {
    grid-column: 1 / span 1;
    grid-row: 3;
}

.dashboard-area .map_chart {
    grid-column: 2 / span 1;
    grid-row: 3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .dashboard-area {
        grid-template-columns: 1fr;
        /* Switches to a single-column layout */
    }

    .dashboard-area>div {
        grid-column: 1;
    }

    /* Adjust the order for mobile layout if needed */
    .dashboard-area .table_chart {
        grid-row: 1;
    }
}
