{% extends "auth.html" %}
{% block title %}Sign in{% endblock title %}
{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap">
        <h3>Login</h3>
        <form method="POST" onsubmit="submitForm(event)">
            {% csrf_token %}
            <div style="margin: 15px 0;">
                <input type="text" required name="email" placeholder="Username or Email *">
            </div>
            <div>
                <input required type="password" name="password" placeholder="Your Password *">
            </div>
            <button type="submit">Log in</button>
        </form>
        <a class="signup-link" href='{% url "userauths:signup" %}'>Signup</a>
    </div>
</div>
{% endblock content %}